.hamburger-menu {
    position: relative;
  }
  
.menu-icon {
font-size: 2rem;
cursor: pointer;
background-color: #666666;
}

.menu-list {
position: absolute;
top: 100%;
right: 0;
background: white;
border: 1px solid #ccc;
padding: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-list a {
display: block;
padding: 10px;
text-decoration: none;
color: black;
border-bottom: 1px solid #eee;
}

.menu-list a:last-child {
border-bottom: none;
}

.menu-list a:hover {
background-color: #313131;
}
  