body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
.lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  color: white;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.game-info {
  font-size: 1.1em; /* Slightly larger font size for game info */
  margin: 5px 0; /* Spacing between game info items */
  font-weight: 300; /* Lighter font weight for a modern look */
}

.teams-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.team {
  background-color: #353639;
  border-radius: 5px;
  width: 40%;
  margin: 0 10px;
  padding: 20px;
}

.team h3 {
  text-align: center;
  margin-bottom: 20px;
}

.player-list {
  background-color: rgb(118, 118, 118);
  border-radius: 5px;
  padding: 10px;
}

.player {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #c8ebf4;
  border-radius: 5px;
  padding: 10px;
}

.player:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 65px;
  height: 65px;
  background-color: #958c8e;
  border-radius: 50%;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details span:first-child {
  font-weight: bold;
}

.details span:last-child {
  font-size: 0.8em;
}

.vs {
  font-size: 3em;
  font-weight: bold;
  color: #050505;
}

.add-player {
  text-align: center;
}

.plus-icon {
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}