.login_header{
    text-align: center;
}


.MatchCard {
    display: flex;
    border-radius: 5%;
    /* justify-content: center; */
    width: 300px; 
    /* height: 150px; */
    /* padding: auto; */
    padding-bottom: 10%;
    /* font: large; */
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;  
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-size: larger; */
    text-align: left;
    padding-left: 5%;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

