body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* display: 'flex', flexDirection: 'column', justifyContent: 'center', alignItems: 'center', height: '50vh'  */
  }

  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  width: 100%; /* Ensure it takes full width to center content */
  gap: 20px; /* Adjust this value as needed to reduce spacing */
}

.sportcard {
  width: 80%; /* Adjust if needed to change the card size */
  text-align: center; /* This will center the text within the sportcard */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the items within the sportcard */
  font-size: larger;
  margin-bottom: 10px; /* Adjust the bottom margin to control spacing between cards */
}

.sportpic {
  width: 190px;
  height: 190px;
  border-radius: 10px;
  margin-bottom: 10px; /* Space between image and text */
  object-fit: cover;
  margin-left: -25px; /* Moves the image 10 pixels to the left */
}




.mbutton {
  width: 388px; 
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: larger;
  border-style: double;  
  border-radius: 10px;
  align-items: center;
  background-color: rgb(173, 214, 226);
}



/* return (
        <div style={{ display: 'flex', flexDirection: 'column', justifyContent: 'center', alignItems: 'center', height: '50vh' }}>
            <h2>Choose a Sport</h2>
            <div style={{ display: 'flex', flexDirection: 'row', flexWrap: 'wrap', gap: '20px' }}>
                {sports.map(renderSportCell)}
            </div>
            <div style={{ marginTop: '40px' }}>
                <button onClick={handleJoinGame} style={{ marginRight: '20px' }}>Join a Game</button>
                <button onClick={() => navigate('/CreateGame')}>Create a Game</button>
            </div>
        </div>
    ); */