.Profile{
    /* background-color: whitesmoke; */
    margin: 0;
    padding: 0;
    

}
.main-content{
    width: 70%;
    margin: auto;
    /* background-color: whitesmoke; */
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;

}
img{
    /* float:left ; */
    margin-bottom: 0.5em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.biofull{
    margin-bottom: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio{
    /* font-size: large;
    font-weight: bold; */
    text-align: center;
}
  
.backend-bio {
    font-size: inherit;
    font-weight: normal;
}

.bio-info {
    font-size: normal;
    font-weight: normal;
}

.label {
    font-size: large;
    font-weight: bold;
    /* margin-bottom: 1em; */
}

.edit-profile-button {
    margin-top: 0.1em; 
    margin-bottom: 2em; 
}

.comments{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin-top: 0px;
    margin-bottom: 1px;
}
.comment > p{
    
    background-color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid black; 
    border-radius: 10px; 
}

.userSports>ul{
    text-align: center;
    list-style: inside;
    background-color: white;
}

.sportRating{
    text-align: center;
    background-color: white;
}
/* .match{
    text-align: center;
    background-color: white;
} */
.match {
    text-align: center;
    background-color: white;
    margin-bottom: 20px; 
    padding: 10px; 
    border: 1px solid black; 
    border-radius: 10px; 
}
  

#history{
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .bio>p{
        font-size: 0.75em;
    }

    .biofull{
        margin-bottom: 1em;
    }
    
  }